<?js
    var params = obj;
    
    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        if ( parentParam && param.name && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);
            parentParam.subparams = parentParam.subparams || [];
            parentParam.subparams.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });
    
    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;
   
    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }
        
        if (param.name) {
            params.hasName = true;
        }
        
        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>
<strong class="subtitle">Arguments</strong>
<br/>
<br/>
<ol class="params">
	<?js
        var self = this;
	    params.forEach(function(param) {
	        if (!param) { return; }
	?>
	
        <li>
            <?js if (params.hasName) {?>
              <code><?js= param.name ?></code>
            <?js } ?>
            <?js if (param.type && param.type.names) {?>
            (<?js= self.partial('type.tmpl', param.type.names) ?>)
            <?js } ?>
            
            <?js if (params.hasDefault) {?>
                <span class="default extra">
                <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                   default=<?js= self.htmlsafe(param.defaultvalue) ?>
                <?js } ?>
                </span>
            <?js } ?>
            <td class="description last">
                <?js if (params.hasAttributes) {?>
                    <?js if (param.optional) { ?>
                        <span class="optional extra">optional</span>
                    <?js } ?>
                    <?js if (param.nullable) { ?>
                        <span class="nullable extra">nullable</span>
                    <?js } ?>
                        
                    <?js if (param.variable) { ?>
                        <span class="repeatable extra">repeatable</span>
                    <?js } ?>
                <?js } ?>
                <?js if (param.description) { ?>
                  <span class="param-desc">: <?js= param.description ?>
                    <?js if (param.subparams) { ?>
                      <?js= self.partial('params.tmpl', param.subparams) ?>
                    <?js } ?>
                  </span>
                <?js } ?>
            </td>
        </li>
	
	<?js }); ?>
  </ol>
